.HomePage
  //padding-top: 60px
  width: 100%
  height: 100vh

.tellLinks
  position: absolute
  top: 80px
  right: 20px
  display: flex
  flex-direction: column
  align-items: flex-end
  height: 70px
  width: 100%
  a
    text-decoration: none
    color: white
    font-size: 30px
    font-family: Roboto, Galvji
    margin: 10px 0
    width: 260px
    height: 40px
  .footerLinks
    top: 20px
    text-align: center
    svg
      margin-left: 20px

.topSlide
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: flex-start
  position: relative
  img
    width: 100%
    height: 100%
  .mainText
    display: block
    position: absolute
    width: 600px
    left: 30px
    top: 180px
    z-index: 2
    p
      color: white
      font-family: Roboto, sans-serif
      font-style: normal
      font-weight: bold
      font-size: 70px
      line-height: 120px

.socialLinksContainer
  height: 500px
  width: 100%
  position: absolute
  top: 250px
  right: 0
  display: flex
  align-items: center
  justify-content: flex-end

.socialLinks
  display: flex
  justify-content: space-between
  align-items: flex-end
  height: 500px
  width: 500px
  transform: rotate(-90deg)
  div
    //height: 100%
    //display: flex
    //align-items: flex-end
    a
      text-decoration: none
      display: flex
      align-items: center
      justify-content: center
      color: #ffffff
      font-size: 20px
      width: 160px
      height: 80px
      box-sizing: border-box
      font-family: Roboto,sans-serif
      svg
        transform: rotate(90deg)
        margin: 0 10px
        width: 20px
        height: 20px

.bottomArrow
  position: absolute
  bottom: 0
  width: 100%
  display: flex
  justify-content: center
  z-index: 2
  a
    display: flex
    flex-direction: column
    text-decoration: none
    font-family: Roboto, sans-serif
    color: white
    svg
      margin: 10px auto


.itemsContainer
  padding-top: 60px
  display: flex
  align-items: center
  justify-content: space-evenly
  flex-wrap: wrap
  width: 100%

.item
  cursor: pointer
  width: 230px
  height: 320px
  margin: 10px
  padding: 10px
  align-items: center
  text-align: center
  background: white
  //border: 1px solid #dadada
  border: 1px solid #E0EBFF
  box-sizing: border-box
  text-decoration: none
  transition: .3s
  &:hover
    border: 1px solid #D6AC74
    h2
      color: #D6AC74
  h2
    font-family: 'Old Standard TT', serif
    font-size: 22px
    transition: .3s
    color: #D6AC74
  img
    height: 210px
    width: 210px

@media screen and (max-width: 550px)
  .item
    width: calc(50% - 40px)
    height: auto
    margin: 5px
    padding: 5px
    h2
      height: 45px
      font-size: 14px
    img
      height: auto
      width: 100%

.footer
  width: 100%
  height: 320px
  display: flex
  //justify-content: center
  //align-items: flex-start
  position: relative
  img
    width: 100%
    min-height: auto
  .textFooter
    display: block
    position: absolute
    width: 450px
    left: 30px
    top: 50px
    z-index: 2
    p
      color: white
      font-family: Roboto, sans-serif
      font-style: normal
      font-weight: bold
      text-align: center
      font-size: 40px
      line-height: 80px
.logoFooter
  position: absolute
  top: 50px
  left: 520px
  width: 400px