@import "src/SassSetUp"

.productPopup
  top: 0
  position: fixed
  width: 100%
  height: 100vh
  background-image: url("../../IMG/LandIMG/backPopup.png")
  display: flex
  justify-content: center
  align-items: center
.popupContainer
  width: calc(100% - 70px)
  height: calc(100% - 60px)
  margin-top: 60px
  display: flex
  justify-content: center
  align-items: center
.closePopUp
  position: fixed
  top: 90px
  left: 35px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  background-color: $contrast
  border-radius: 50px
  p
    font-size: 25px
    font-family: $fontMain
    transition: .3s
  svg
    path
      transition: .3s
  &:hover
    p
      color: $accent
    svg
      path
        fill: $accent
.productItem
  display: flex
  flex-direction: column
  align-items: center
  cursor: pointer
  width: 100%
  text-align: center
  background: transparent
  box-sizing: border-box
  h2
    font-family: $fontMain
    background-color: $contrast
    border-radius: 50px
    font-size: 50px
    color: #D6AC74
  p
    font-size: 35px
    font-family: $fontMain
  img
    height: auto
    width: 100%
.productItemContainer
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
.productName
  width: 50%
  height: 300px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.imageContainer
  display: flex
  justify-content: center
  align-items: center
  width: 50%

@media screen and (max-width: 950px)
  .productItemContainer
    flex-direction: column-reverse
    justify-content: center
  .productName
    justify-content: flex-start
    width: 100%
    height: 50vh
  .imageContainer
    align-items: flex-end
    width: 100%
    height: 50vh
    img
      height: 100%
      width: auto

@media screen and (max-width: 650px)
  .imageContainer
    img
      height: 70%

  .productName
    h2
      font-size: 50px
    p
      font-size: 35px

@media screen and (max-width: 4500px)
  .productName
    h2
      font-size: 30px
    p
      font-size: 20px