.Header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 30px
  width: calc(100% - 60px)
  height: 60px
  background-color: rgba(255, 255, 255, 0.67)
  position: fixed
  z-index: 2
.mainLogo
  padding: 0 5px
  img
    width: 90px

.mainLinks
  display: flex
  align-items: center
  list-style: none
  width: 600px
  justify-content: space-between
  li
    a
      text-decoration: none
      display: block
      padding: 5px 10px
      color: #A4632D
      font-family: Roboto, sans-serif
      font-size: 20px
      svg
        display: none

.navigationIconBurger
  display: none
  padding: 5px
  cursor: pointer
  svg
    path
      transition: .3s
  &:hover
    svg
      path
        fill: #A4632D

@media screen and (max-width: 850px)
  .navigationIconBurger
    display: flex

  .mainLinks
    justify-content: flex-end
    width: 100%
    li
      display: none
      a
        display: flex
        align-items: center
        svg
          display: flex

  .mobileNavOpen
    flex-direction: column
    height: 100vh
    width: 320px
    position: fixed
    right: 0
    top: 0
    padding-top: 60px
    background-color: rgba(0, 0, 0, 0.89)
    justify-content: flex-start
    .navigationIconBurger
      position: fixed
      top: 7px
      right: 30px
    li
      display: flex
      font-family: Roboto, sans-serif
      width: 100%
      transition: .3s
      border-bottom: 1px solid #A4632D
      &:hover
        background-color: #A4632D
        a
          color: #d9d9d9
          svg
            path
              fill: #d9d9d9
      a
        margin: 10px 0
        font-size: 25px
        color: #d9d9d9
        width: 100%
        transition: .3s
        padding: 5px 10px
        svg
          margin-right: 10px
          path
            transition: .3s
            fill: #A4632D
