@import "src/SassSetUp"
.Header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 30px
  width: calc(100% - 60px)
  height: 60px
  background-color: $primary
  position: fixed
  z-index: 2
.mainLogo
  padding: 0 5px
  img
    width: 90px
.mainLinks
  display: flex
  align-items: center
  list-style: none
  width: 600px
  justify-content: space-between
  li
    a
      text-decoration: none
      display: block
      padding: 5px 10px
      color: $accent
      font-family: Roboto, sans-serif
      font-size: 20px
      transition: .3s
      &:hover
        color: $primary-darker
.navigationIconBurger
  display: none
  padding: 5px
  cursor: pointer
  svg
    path
      transition: .3s
      fill: $accent
  &:hover
    svg
      path
        fill: $primary-darker
@media screen and (max-width: 850px)
  .Header
    z-index: 4
  .navigationIconBurger
    display: flex

  .mainLinks
    justify-content: flex-end
    width: 100%
    li
      display: none
      a
        display: flex
        align-items: center

  .mobileNavOpen
    flex-direction: column
    height: 150px
    width: 100%
    position: fixed
    z-index: 4
    right: 0
    top: 0
    padding-top: 60px
    background-color: $primary-semiTransparent
    justify-content: flex-start
    transition: .3s
    .navigationIconBurger
      position: fixed
      top: 7px
      right: 30px
    li
      display: flex
      font-family: Roboto, sans-serif
      width: 100%
      transition: .3s
      border-bottom: 1px solid $accent
      height: 50px
      &:nth-child(3)
        border: 0
      a
        font-size: 25px
        color: $semi-white
        line-height: 40px
        width: 100%
        transition: .3s
        padding: 5px 10px
      &:hover
        background-color: $accent
        a
          color: $primary